*{
  margin: 0;
  padding:0;
}
/* Default theme (light) */
:root {
  --background-color: #fff1eb;
  --background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  --text-color: black;
  --link-color: black;
  --accordion-bg-color: #eee;
  --accordion-hover-bg-color: #ccc;
  --sem-bg-color: rgba(255, 253, 253, 0.363);
  --footer-bg-image: linear-gradient(to top, #ace0f9 0%, #fff1eb 100%);
  --container-border: 1px solid rgba(0, 0, 0, 0.582);
  --theme-select-bg-color: #fffdfd5d;
  --theme-select-color: #000;
  --theme-select-border: 1px solid #000000;
  --tele-bg-color: linear-gradient(to top, #4481eb 0%, #04befe 100%);
  --tele-color: white;
}

/* Dark theme overrides */
body.dark-mode {
  --tele-bg-color: white;
  --tele-color: black;
  --background-color: rgba(5, 8, 114, 1);
  --background-image: radial-gradient(circle 610px at 5.2% 51.6%, rgba(5, 8, 114, 1) 0%, rgba(7, 3, 53, 1) 97.5%);
  --text-color: white;
  --link-color: whitesmoke;
  --accordion-bg-color: #eee;
  --accordion-hover-bg-color: #ccc;
  --sem-bg-color: rgba(255, 255, 255, 0.123);
  --footer-bg-image: rgba(255, 255, 255, 0.21);
  --container-border: 1px solid rgba(255, 255, 255, 0.541);
  --theme-select-bg-color: #ffffff1f;
  --theme-select-color: #fff;
  --theme-select-border: 1px solid #ffffff;
}

body {
  background-image: var(--background-image);
  color: var(--text-color);
  font-family: "Kalam", cursive;
}

a {
  color: var(--link-color);
  font-size: 1.2rem;
}

h1,
h2 {
  text-align: center;
  padding-top: 5px;
}

#small-head {
  font-size: 15px;
  display: block;
}

.sem {
  background-color: var(--sem-bg-color);
  border-radius: 15px;
  margin: 10px 0;
}

.sem-container {
  display: grid;
  margin: 0px 0 15px;
}

.sem-container>div {
  border: 2px solid grey;
  border-radius: 10px;
  margin: 5px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

@media only screen and (min-width: 600px) {
  .sem-container {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 800px) {
  .sem-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1000px) {
  .sem-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

footer {
  background-image: var(--footer-bg-image);
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Accordion */
.ac {
  background-color: var(--accordion-bg-color);
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  border: none;
  border-radius: 15px;
  outline: none;
  transition: 0.4s;
  margin: 10px 0;
  font-family: "Kalam", cursive;
  font-size: 1.4rem;
}

.active,
.ac:hover {
  background-color: var(--accordion-hover-bg-color);
}

.panel {
  padding: 0 18px;
  background-color: rgba(255, 255, 255, 0.151);
  display: none;
  overflow: hidden;
}

.log {
  background-color: black;
  border-radius: 5px;
  padding: 20px;
  margin: 15px 8px;
  border: 1px solid white;
}

@media only screen and (max-width: 600px) {
  h2 {
    font-size: 16px;
    padding: 4px 0;
  }
}

/* Social plug */
.social-plug-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-box {
  margin: 5px auto;
  padding: 10px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-box>div>a {
  text-decoration: none;
  padding: 4px;
  display: inline-block;
  border-radius: 30px;
  font-size: 17px;
  margin: 0 10px;
  cursor: pointer;
  background-color: var(--tele-bg-color);
  background-image: var(--tele-bg-color);
  text-align: center;
  color: var(--tele-color);
  padding: 10px 15px;
  box-sizing: border-box;
  vertical-align: middle;
  font-weight: 900;
}

.social-box>div>a:hover {
  background-color: rgb(214, 212, 212);
}

img.social-logo {
  height: 40px;
}

@media only screen and (max-width: 600px) {
  .social-plug-container {
    flex-direction: column;
  }

  img.dis-logo {
    height: 40px;
  }

  .social-box>div>a {
    font-size: 15px;
    margin: 0 5px;
  }
}

/* New Front Page */
#semester-selector {
  font-size: 22px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

#semester-selector select {
  padding: 5px;
  font-size: 20px;
}

#semester-selector select option {
  padding: 5px;
  font-size: 18px;
}
